.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #24292e;
}

.nav-item {
  display: inline;
  float: left;
}

.nav-item-right {
  float: right;
}

.nav-link {
  display: block;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-family: Helvetica;
}

.nav-icon {
  display: block;
  padding: 12px;
}

.nav-link:link {
  text-decoration: none;
}

.nav-link:visited {
  text-decoration: none;
}

.nav-link:hover {
  color: lightgray;
}
