<ul class="nav">
  <li class="nav-item">
    <gh-navbar-search></gh-navbar-search>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Pull requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Issues</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Marketplace</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Explore</a>
  </li>

  <li class="nav-item nav-item-right">
    <a class="nav-icon" href="#"><img style="height: 75%" src="favicon.ico"></a>
  </li>
</ul>
