<ul class="nav">
  <li class="nav-item">
    <input type="text" class="nav-search" placeholder="Search or jump to...">
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Pull requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Issues</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Marketplace</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Explore</a>
  </li>

  <li class="nav-item nav-item-right">
    <a class="nav-icon" href="#"><img style="height: 75%" src="favicon.ico"></a>
  </li>
</ul>
