.user-avatar {
  display: block;
  border-radius: 100%;
  width: 18em;
  height: 18em;
}

.user-name {
  font-family: Helvetica;
}

.user-username {
  font-family: Helvetica;
  color: gray;
  font-weight: lighter;
}

.user-bio {
  font-family: Helvetica;
  overflow: auto;
}

.button {
  margin-top: 1em;
  width: 100%;
  height: 2.5em;
}

textarea {
  font-family: Helvetica;
  width: 100%;
}

.w-50 {
  width: 50%;
}

.left {
  float: left;
}
