#profile-user {
  position: relative;
  top: -75px;
  float: left;
  width: 25%;
}

#profile-content {
  float: left;
  width: 75%;
}

#profile {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

hr {
  border: none;
  height: 1px;
  color: #eeeeee;
  background-color: #eeeeee;
}
